#toolbar {
    position: fixed;
    z-index: 999;
    width: 100%;
    font-family: arial;
    .warning-text{
        text-align: center;
        color: orange;
    }
    > button{
        margin-right: 15px;
        border-radius: 3px;
        border: 1px solid black;
        height: 35px;
    }
}

#graphical-pathfinder-container{
    margin: auto;
    padding-top: 100px;
    width: 375px;
    border-radius: 3px;
    font-family: arial;
    font-size: 16px;
    
    .svg{
        z-index: -999;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        line {
            stroke: orange;
            stroke-width: 2;
        }
    }

    .green {
        border: 0 !important;
        box-shadow: 1px 1px 5px 5px #3fdc54;
        background-color: #3fdc54;
    }

    .orange {
        border: 0 !important;
        box-shadow: 1px 1px 5px 5px orange;
        background-color: orange;
    }

    .red {
        border: 0 !important;
        box-shadow: 1px 1px 5px 5px #FF4500;
        background-color: #FF4500;
    }

    .hidden {
        display: none;
    }

    .destination-orb {
        border: 1px solid black;
        border-radius: 50%;
        width: 75px;
        height: 75px;
        line-height: 75px;
        text-align: center;
    }

    > .squeeze-row{
        height: 110px;
        & :first-child {
            float: left;
            margin-left: 90px;
        }
        
        & :last-child {
            float: right;
            margin-right: 90px;
        }
    }

    > .loose-row{
        height: 110px;

        > .wide-left-section{
            float: left;
        }

        > .wide-right-section{
            float: right;
        }
    }
}